<div class="template-main">
    <div class="template-container">
        <div class="title">
        話す相手を選択
        </div>
        <div class="button3">
        <%= link_to "ALL", root_path %>
        </div>

        <% for user in @users do %>
         <% unless current_user.id == user.id %>
          <div class="button3">
          <%= link_to "#{user.name}", user_messages_path(user.id) %>
          </div>
         <% end %>
        <% end %>
    </div>
</div>
